:host {
  background-color: #cccccc;
  background-color: var(--strc-progress-bar-background-color, #cccccc);
  display: block;
  height: 2px;
  height: var(--strc-progress-bar-height, 2px);
  width: 100%;
}

div {
  background-color: #000000;
  background-color: var(--strc-progress-bar-color, #000000);
  height: 100%;
  transition: width 0.25s ease;
  transition: width var(--strc-progress-bar-transition-duration, 0.25s) ease;
}